<div class="container mx-auto px-4 py-4 pt-24">
  <div class="mx-auto bg-white/80 backdrop-blur rounded-lg shadow p-8 font-lato">
    <h1 class="text-3xl font-bold mb-6 text-gray-800 font-sans">Artist Statement</h1>
    <p class="text-gray-700 leading-relaxed">
      <img src="/assets/about/artistStatement.jpg" class="float-left w-1/3 h-auto mr-4 mb-2 rounded-lg">
      My artwork manifests as installations, videos, and objects that conflate and reveal the relationship between the internal experience of the mind and the constructed collective experience of reality. I salvage, arrange, and create domestic objects--spoons, gilded frames, bottles, carpets, light fixtures—to expose the relationship between what is loved and deprived, valued and neglected, accessible and precious, tangible and internal, surreal and actual, beautiful and repugnant. 
      <br><br>
      Glass has become a signifying emotive material. I juxtapose and overlay glass and used objects as an allegory to explore domestic, familial, and natural recreation to reveal the physical presence of our inner worlds. I resource the properties of glass to tap into the constant metamorphoses of life. It can be strong, heavy, and carry a weight to it; It can be light, fragile, and break apart. It holds memory both externally and internally which is revealed through the use of optics and transparency in glass that uncover scars and patterns, contain a process, magnify, blur, or distort. Glass is my symbol for the contradictions of human existence. It is the connection to the body, the person, the individual perception and our collective understanding of our world.
    </p>
  </div>
</div>