<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-faded">
    <a class="navbar-brand navbar-brand-text" href="{{ site.baseurl }}{% link index.html %}">{{ site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="navbarItems">
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}{% link index.html %}">Home</a>
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}{% link portfolio.html %}">Portfolio</a>
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}{% link artistStatement.html %}">Artist Statement</a>
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}">Resume</a>
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}{% link bio.html %}">Bio</a>
        <a class="nav-item nav-link nav-item-text" href="{{ site.baseurl }}">Contact</a>
      </div>
    </div>
  </nav>
</header>
