// Custom font
$font-family-sans-serif: "Lato", sans-serif !important;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-weight-base:       300 !important;

$body-bg: #080707;
$body-color: #b5b5b5;

$primary: #cfc881;
