<div class="container mx-auto px-4 py-4 pt-24">
  <div class="mx-auto bg-white/80 backdrop-blur rounded-lg shadow p-8 font-lato">
    <p class="text-gray-700 leading-relaxed">
      <img src="/assets/about/profile.jpg" class="float-left w-1/2 h-auto mr-4 mb-2 rounded-lg">
      Glass, with its multifarious qualities, has proven itself to be the perfect medium for Mollie Hansen to encapsulate fragile cycles of existence. She utilizes glass to encourage viewers to delve deeper into exploring the delicate relationships of internal experiences of the mind and our collective understanding of reality. This manifests in through mixed media installations that explore domestic, familial, natural recreations with glass as signifying emotive material.
      <br><br>
      Ms. Hansen discovered her passion for glass in her home state at Epiphany Studios in Pontiac, Michigan. She went on to earn her Bachelor's Degree in  Art  with a Majors in Studio Art and Art History and minor in International Studies from Centre College in Danville, Kentucky. Ms. Hansen participated in the renowned Chrysler Museum of Art Glass Studio Assistantship Program, Pilchuck's Fellowship Program, and has worked as a production artist, instructor, and studio management. She has furthered her education through the pursuit of an MFA in Glass at the Tyler School of Art and Architecture in Philadelphia, PA. Ms. Hansen currently resides in Las Vegas, NV, where is continuing her artistic practice.
    </p>
  </div>
</div>