<div class="container mx-auto px-4 py-4 pt-24">
  <div class="mx-auto bg-white/80 backdrop-blur rounded-lg shadow p-8 font-lato">
      <h1 class="text-3xl font-bold mb-6 text-gray-800 font-sans">Statement</h1>

      <p class="text-gray-700 leading-relaxed">
        Glass is the body… the person… the individual perception…. Glass can be strong, heavy, and carry a weight to it or it can be light, fragile, and break apart. It holds memory both externally and internally, which is revealed by interactions with components of glass. Light reveals scars that create beautiful optical patterns to fill an existing space. Transparency allows one to contain a process, while still being able to see it. This can be magnified to see even clearer, or it can be distorted to it is blurred together. Distortion acts as both a lens and for viewers, but also, a barrier that can limit what one knows. Glass has become my symbol for the contradictory of human existence. 
        <br><br>
        This manifests through installations that explore domestic, familial, and natural recreations with glass as signifying emotive material. Through the use of the juxtaposition and interaction of glass and used objects as an allegory, I explore the relationship between what is experienced internally in the mind and what is experienced through the collective constructed reality. I expose the relationship between what is loved and deprived, valued and neglected, accessible and precious, tangible and internal, surreal and actual, beautiful and repugnant in the constant metamorphoses of life. 
      </p>
    </div>
</div>