---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

// Nav bar
.navbar-brand-text {
  text-transform: uppercase;
  letter-spacing: .1.5em;
}

.nav-pills-link {
  @extend .nav-link;
  color: $primary !important;
  background: $black !important;
}

.nav-pills-link.active {
  color: $primary !important;
  background: $secondary !important;
}

.nav-pills-link-secondary {
  @extend .nav-pills-link;
  margin-left: 16px !important;
}

.nav-main-link {
  @extend .nav-link;
}

.nav-main-link.active {
  color: $primary !important;
}

.nav-tab-link {
  @extend .nav-link;
  text-align: center !important;
}

.nav-tab-link.active {
  color: $primary !important;
  background: $bgdark !important;
}

.nav-tab-link-secondary {
  @extend .nav-tab-link;
}

.nav-tab-link-secondary.active {
  @extend .nav-tab-link, .active;
  border-radius: .25rem .25rem 0px 0px !important;
}

.nav-tab-link-tertiary {
  @extend .nav-tab-link;
  color: $accent !important;
}

.nav-tab-link-tertiary.active {
  background: $primary !important;
  color: $black !important;
}

.nav-item.primary {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .2em;
}

.nav-item.secondary {
  text-transform: uppercase;
}

.nav-item.tertiary {
  text-transform: uppercase;
  text-align: center;
}

// Masthead
.masthead {
  background: linear-gradient(to bottom,rgba(50,50,50,.7) 0,rgba(50,50,50,.7) 100%),url(../home/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 83vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

.masthead-caption {
  resize: vertical;
  overflow: auto;
}

.title {
  color: $primary;
}

.caption {
  letter-spacing: .3em;
}

// Social media
.btn-circle-lg {
  text-align: center;
  width: 64px;
  height: 64px;
  padding: 14px 14px;
  border-radius: 32px;
  font-size: 24px;
  line-height: 1.33;
}

// Container row and column
.row-header {
  padding-top: 16px;
  padding-bottom: 24px;
  color: $primary;
}

.bg-customdark {
  background: $bgdark !important;
}

.secondary-nav {
  background: $secondary !important;
  border-radius: .25rem .25rem 0 0 !important;
}

.flex-left-align-last {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
}

// Body
body, wrapper {
  min-height: 100vh;
}
.flex-fill {
  flex: 1 1 auto;
}

.centered-body {
  word-wrap: break-word;
  line-height: 1.25em;
  letter-spacing: .08em;
  width: 66%;
}

.separator {
  border-top: 1px solid $primary;
}

.fitted-center {
  object-fit: contain;
  object-position: center;
  width: 100%;
  max-height: 75vh;
}

.fitted-square {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 250px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 4px;
  padding-top: 6px;
  bottom: 0;
}

// Loader
.loader {
border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Footer
.footer {
  height: 48px;
}
